
{% block head %}
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block body%}
<div class="container">

    <div class="modal fade" id="myModal" role="dialog" color="blue">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{test}}</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="id_old_password">Old password:</label>
                    <br>
                     <div class="col-sm-10">
                         <input class="form-control"  aria-describedby="sizing-addon2" type="password" name="old_password" autofocus required id="id_old_password" />
                     </div>
                    <br><br><br>

                    <label for="id_new_password1">New password:</label>
                     <div class="col-sm-10">
                        <input class="form-control"  aria-describedby="sizing-addon2" type="password" name="new_password1" required id="id_new_password1" />
                     </div>
                    <br><br><br><br>
                    <label for="id_new_password2">New password confirmation:</label>
                    <div class="col-sm-10">
                         <input class="form-control"  aria-describedby="sizing-addon2" type="password" name="new_password2" required id="id_new_password2" />
                    </div>
                    <br><br><br>
                     <div class="col-sm-10">
                    <p>*Password must not be similar to user details.</p>
                    <p>*Password must contain number and alphabets. </p>
                     </div>
                    <p class="text-center"><button class="btn btn-primary login-button auth" type="submit">Change Password</button></p>
                </form>
            </div>

            <!-- <div class="modal-footer">
            </div>-->
            </div>

        </div>
    </div>

</div>

{%endblock%}
