{% extends 'base.html' %}
<html>
{% block head %}
    <title>Log in</title>
    <link rel="stylesheet" media="all" href="https://hrcdn.net/hackerrank/assets/hackerrank-core-706c2914987d18c241bff6e251414ebb.css" />
    <link rel="stylesheet" media="all" href="https://hrcdn.net/hackerrank/assets/external_libraries-507bf28a74260fdc83d8547e5c699aa9.css" />
    <link rel="stylesheet" media="all" href="https://hrcdn.net/hackerrank/assets/auth-43c15f79360339f125f5aa081a6fc6d7.css" />
    <link rel="stylesheet" id="js-hr-typography" type="text/css" href="https://hrcdn.net/lib/typography/345134/hosts/https/hrcdn.net/7C1B0FD393AD7F74A.css" data-noprefix />

{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="responsive-form block-center">
  <div class="login-group homepage_admin light-wrap">
      <ul class="login_tab unstyled vertical clearfix">
          <li class="signup-toggle toggle "><a href="/account/register" data-toggle="tab">Register</a></li>
          <li class="login-toggle toggle active"><a href="/account/login" data-toggle="tab">Log In</a></li>
      </ul>


      <div class="login " style="display: block;">
          <form class="legacy-form Bizible-Exclude" method="POST">
               {% csrf_token %}
              <div class="homepage_signupgroup--legacy">
                  <div class="text-center alert error" style="display:none;"></div>
                  <div class="formgroup">
                      <i class="icon-user"></i>
                      <input autofocus required id="id_username" type="text" name="username" maxlength="254"  value="" placeholder="Username">

                  </div>
                  <div class="formgroup">
                      <i class="icon-lock"></i>
                      <input required id="id_password" type="password" name="password" placeholder="Password" >
                  </div>
                  <p>*Please enter a correct username and password. Note that both fields may be case-sensitive.</p>

                  <div class="clearfix msB">
                      <label class="remember pull-left psT"><input type="checkbox" id="remember_me" data-analytics="AuthPageRememberMe" data-attr1="master"> <small>Remember me</small></label>
                      <a href="/account/reset-password" class="cursor pull-right password-retrieve huge bold msT"><small>Reset Password</small></a>
                  </div>

                  <p class="text-center"><button class="btn btn-primary login-button auth" type="submit">Log In</button></p>

              </div>


          </form>
      </div>
  </div>
  </div>

{% endblock %}













