{% extends 'base.html' %}


    {% block head %}
    <title>Profile</title>
    {% endblock %}

    {% block body %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
                <p><label for="id_email">Email address:</label> <input type="email" name="email" value="11abhaystark@gmail.com" id="id_email" maxlength="254" /></p>
                <p><label for="id_first_name">First name:</label> <input type="text" name="first_name" value="Abhay Pratap" id="id_first_name" maxlength="30" /></p>
                <p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" value="Singh" id="id_last_name" maxlength="30" /></p>

                <button type="submit">Submit</button>

        </form>
    </div>


    {% endblock %}
