
{% extends 'base.html' %}
<html>
{% block head %}


    <title>Log in</title>
 <link rel="stylesheet" media="all" href="https://hrcdn.net/hackerrank/assets/hackerrank-core-706c2914987d18c241bff6e251414ebb.css" />
    <link rel="stylesheet" media="all" href="https://hrcdn.net/hackerrank/assets/external_libraries-507bf28a74260fdc83d8547e5c699aa9.css" />
    <link rel="stylesheet" media="all" href="https://hrcdn.net/hackerrank/assets/auth-43c15f79360339f125f5aa081a6fc6d7.css" />
<link rel="stylesheet" id="js-hr-typography" type="text/css" href="https://hrcdn.net/lib/typography/345134/hosts/https/hrcdn.net/7C1B0FD393AD7F74A.css" data-noprefix />

    <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">



{% endblock %}
{% block body %}
<br>
<br>
<br>

<div class="responsive-form block-center">
  <div class="login-group homepage_admin light-wrap">
      <ul class="login_tab unstyled vertical clearfix">
          <li class="signup-toggle toggle active">Add Details</li>

      </ul>


      <div class="login " style="display: block;">
          <form class="legacy-form Bizible-Exclude" method="POST">
               {% csrf_token %}
              <div class="homepage_signupgroup--legacy">
                  <div class="text-center alert error" style="display:none;"></div>
                  <div class="formgroup">
                    <h4>Description:</h4><input type="text" name="description" required id="id_description" maxlength="100" class="form-control" placeholder="Description"/>
                  </div>
                  <div class="formgroup">
                    <h4>Address:</h4><input type="text" name="city" required id="id_city" maxlength="20" class="form-control" placeholder="Full address with pin code"/>
                  </div>
                  <div class="formgroup">
                    <h4>Website:</h4><input type="url" name="website" required id="id_website" maxlength="200" class="form-control" placeholder="https://xyz.com"/>
                  </div>
                  <div class="formgroup">
                    <h4>Phone:</h4><input type="number" name="phone" value="0" required id="id_phone" class="form-control" placeholder="Phone"/>
                  </div>
                  <div class="formgroup">
                    <h4>Experience:</h4><input type="number" name="experience" value="0" required id="id_experience" class="form-control" placeholder="Years"/>
                  </div>
                  <div class="formgroup">
                        <h4>Skills:</h4><input type="text" name="skills" required id="id_skills" maxlength="200" class="form-control" placeholder="Technical and Management"/>
                  </div>



                  <p class="text-center"><button class="btn btn-primary login-button auth" type="submit">Add Details</button></p>
              </div>





          </form>
      </div>
  </div>
  </div>

{% endblock %}



