{% extends 'base.html' %}

{% block body %}
<div class="container">

    <div class="alert alert-info" role="alert"><h3>Password Reset</h3>
        <br>
    <h5>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </h5>
    <form method="post">
        {% csrf_token %}
         <div class="input-group">

         <p><label for="id_email">Email:</label> <input type="email" class="form-control" name="email"  required id="id_email" maxlength="254" placeholder="abc@xyz.com"/></p>

         </div>
        <br>
        <button class="btn btn-primary login-button auth" type="submit">Reset</button>

    </form>
    </div>
</div>

{% endblock %}

