<h1>Module: {{module.name}}</h1>
<h3>{{module.description}}</h3>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Intranet</title>
</head>
<script>
    function update_commits_section( project_id, module_id){
         $.ajax({
            url : '/feed/' + project_id + '/' + module_id,
            success : function(data){
                $('#commits_section').html(data);
            }
        });
    }
</script>
{% if module.commit_set.all %}
    <ul>
        {% for commit in module.commit_set.all %}
            <li>
                <h4>User Name: {{commit.user_id}}</h4>
                <h3>{{commit.name}}</h3>
                <p>{{commit.description}}</p>
                <strong>{{commit.publish}}</strong>
                <div class="container" id="comments_section+{{forloop.counter}}"></div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h5>No commits yet.</h5>
{% endif %}

