{% include 'feed/header.html' %}
<script>
    function update_commits_section( project_id, module_id){
         $.ajax({
            url : '/feed/' + project_id + '/' + module_id,
            success : function(data){
                $('#commits_section').html(data);
            }
        });
    }
</script>
<!--<script>-->
    <!--function myFunction(){-->
        <!--alert({{ test_word }});-->
    <!--}-->
<!--</script>-->
<h4>Modules &nbsp <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModuleModal">Add Module</button></h4>
<h5>Project:  {{ project.name }}</h5>
<h6>{{project.description}}</h6>
<div style="height: 30vh;overflow-x: hidden; overflow-y: scroll;">
    {% if project.module_set.all %}
    <ul>
        {% for module in project.module_set.all %}
            <li>{{module.name}} - {{module.description}} - {{module.publish}}</li>
            <button onclick="update_commits_section({{project.id}},{{module.id}})">Show Details</button>
        {% endfor %}
    </ul>
    {% else %}
        <h5>No Modules found. Please add some modules to this Project</h5>
    {% endif %}
    <div class="container">
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModuleModal">Add {{form_head}}</button>-->
        <!-- Modal -->
        <div class="modal fade" id="ModuleModal" role="dialog">
            <!--<div class="modal-dialog">-->
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add {{form_head}}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'feed:detail' project.id  %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{ module_form.as_table }}
                            </table>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
    <!--<button onclick="myFunction()">Click Me!</button>-->

</div>
