{% include 'feed/header.html' %}
<body onload="update_module_section(1)">
<script>
    function update_module_section(project_id){
        $.ajax({
            url: '/feed/'+project_id,
            success : function(data){
                $('#module_section').html(data);
            }
        });
    }
</script>
<script type="text/javascript">
    $(function() {
        $.fm({debug: true});
    });
</script>
<div class="row">
    <div class="col-sm-3" id = "project_section" style="background-color:#66ff66;height:100vh;">
        <h1>Projects</h1>
        {% if all_projects %}
            <ul>
                {% for project in all_projects %}
                    <li>{{project.name}}</li>
                    <button onclick="update_module_section({{project.id}})">Show Details</button>
                {% endfor %}
            </ul>
        {% else %}
        <h3>Please add some projects to display</h3>
        {% endif %}
          <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Project</button>-->
        {% include 'feed/form.html' %}
        <div  id = "module_section" ></div>
    </div>

    <div class="col-sm-7" id="commits_section" style="background-color:#66a3ff;height:100vh;"></div>
    <div class="col-sm-2" style="background-color:#ff6666;height:100vh;">Chat Area</div>
</div>

</body>
</html>



