{% include 'feed/header.html' %}
<body onload="update_module_section(1)">
<!--
<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Intranet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>-->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="font-family:'Rock Salt'">&nbsp;Intranet</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#" style="font-family:'Patrick Hand SC'; font-size:20px">Home</a></li>
                <li><a href="#" style="font-family:'Patrick Hand SC'; font-size:20px">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid" style="height: auto; width: auto">
    <script>
    function update_module_section(project_id){
        $.ajax({
            url: '/feed/'+project_id,
            success : function(data){
                $('#module_section').html(data);
            }
        });
    }
    </script>
    <script type="text/javascript">
    </script>
    <div class="full">
        <div class="row">
            <div class="col-sm-3 " id = "project_section" style="background-color:#44a8ff;height:92vh;">
                <h4>Projects &nbsp <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#ProjectModal">Add</button></h4>
                <div style="height: 33vh; overflow-x: hidden; overflow-y: scroll;">
                    {% if all_projects %}
                        {% for project in all_projects %}
                            {% include "feed/cards/card_project.html" with project=project  only  %}
                        {% endfor %}
                    {% else %}
                    <h6>Please add some projects to display</h6>
                    {% endif %}
                </div>

                <!-- Modal -->
                <div class="modal fade" id="ProjectModal" role="dialog">
                    <!--<div class="modal-dialog">-->
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add {{form_head}}</h4>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table>
                                        {{ project_form.as_table }}
                                    </table>
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right"></i></button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </form>

                            </div>
                        </div>
                    <!--</div>-->
                </div>
                <!-- Modal End -->

                <div style="height: auto;" id = "module_section" ></div>
                <div>

                </div>
            </div>
            <div class="col-sm-7" id="commits_section" style="background-color:#ffffff;height:92vh; overflow-x: hidden; overflow-y: scroll;"></div>
            <div class="col-sm-2" style="background-color:#ff6666;height:92vh; overflow-x: hidden; overflow-y: scroll;">Chat Area</div>
        </div>
    </div>
</div>
</body>
</html>



