{% include "feed/header.html" %}
<a class="waves-effect waves-light btn modal-trigger" onclick="openModal()" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="" onclick="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

<script>
   function openModal(){
      $('.modal').modal();
   }
   function closeModal(){
       $('#modal1').modal('close');
   }
</script>



<!--   <ul>
                        {% for project in all_projects %}
                            <li>{{project.name}}</li>
                            <button onclick="update_module_section({{project.id}})">Show Details</button>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h6>Please add some projects to display</h6>
                    {% endif %}
                </div>-->



<!--card_commit.html-->
 <!-- <div class="w3-container"style="margin-bottom: 20px;margin-left: -10px;">
        <div class="w3-card-4">
            <header class="w3-container w3-green">
            <h4>{{commit.name}}</h4>
            <h5 class="pull-right">User ID: {{commit.user_id}}</h5>
            </header>

            <div class="w3-container"style="padding: 10px;">
                <p>{{commit.description}}</p>
                &lt;!&ndash;<p>Here:{{project_id}},{{module.id}},{{forloop.counter}}</p>&ndash;&gt;
                <div class="container" id = "comments_section{{forloop.counter}}">Division it is</div>
                <button onclick="update_comments({{project_id}},{{module.id}},{{commit.id}})">Show Comments</button>
            </div>

            <footer class="w3-container w3-gray">
            <strong>{{commit.publish}}</strong>
            </footer>
        </div>
    </div>-->